<html>
<body  bgcolor="black"><PRE><font size="3" face="Monospace" color="skyblue"><p style="text-align:center;"></p>

<h1><p style="text-align:center;">DevOps Student Enrollment Site</p></h1>
<form action="" method="post">
<h2>ID: <br><input type="text" name="ids" size="50">
<p style="color:gray;">Hint: ID(primary key) is unique number for candidate in Database</p></h2>
<h2>FIRST NAME: <br><input type="text" name="firstName" size="50">
<p style="color:gray;">Hint: FIRST NAME is string or character sequence, like John</p></h2>
<h2>LAST NAME: <br><input type="text" name="lastName" size="50">
<p style="color:gray;">Hint: LAST NAME is string or character sequence, like Smith</p></h2>
<h2>QUARTER: <br><input type="text" name="quarter" size="50">
<p style="color:gray;">Hint: QUARTER options are Fall or Winter or Spring, like Fall</p></h2>
<input type="submit" style="height:50px; width:150px">
</form>

</body>
</html>

